{{> layout/header}}

<div class="container p-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="board-box">
            </tbody>
    </table>

</div>
<script>
    async function deleteBoard(bId){
        let response = await fetch("/api/boards/"+bId,{
            method:"delete"
        });
        let responseBody=await response.json();
        document.querySelector(`#item-${bId}`).remove();
        //document.querySelector(`#item-${board.id}`).style.display=none;
        // console.log(responseBody);
        // location.reload();
    }
    // 책임: 컴퍼넌트 생성
    function makeBoard(board){
        let tr = document.createElement("tr");
        tr.setAttribute("id",`item-${board.id}`);
        tr.innerHTML =`
            <td>${board.id}</td>
            <td>${board.title}</td>
            <td>${board.content}</td>
            <td>${board.author}</td>
            <td>
                <div class="d-flex">
                    <form>
                        <button type="button" class="btn btn-danger" onclick = "deleteBoard(${board.id})">삭제</button>
                    </form>
                    <form action="/board/${board.id}/updateForm" method="get">
                        <button type="button" class="btn btn-warning">수정</button>
                    </form>
                </div>
            </td>`;
        return tr;
    }

    // 책임: 통신
    async function init() {
        let response = await fetch("/api/boards");
        let responseBody = await response.json();
        let boardList = responseBody.body;
        // let boardList1 = responseBody.body.id;
        // let boardList2 = responseBody.body.title;
      console.log(boardList);
      // console.log(boardList1);
      // console.log(boardList2);
      console.log(1111)
        let tbody = document.querySelector("#board-box");
        boardList.forEach((board) => {
            tbody.append(makeBoard(board));
        });

    }


    init();


</script>

{{> layout/footer}}